section#contact {
  background: #252934;
  color: #fff;
  padding-top: 175px;
}

section#contact svg {
  position: absolute;
  top: 0;
  left: 0;
}

section#contact .header-bar {
  margin: 25px 0 40px 0;
  background: #fff;
}

section#contact .highlight {
  font-weight: 600;
  color: #04C2C9;
}

section#contact form {
  margin: 40px auto 0 auto;
  min-width: 95%; 
}

section#contact input[type="text"], 
section#contact input[type="email"], 
section#contact textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 10px 15px;
  background: #1E242C;
  font-size: 12pt;
  margin-bottom: 3px;
  color: #fff; 
}
section#contact textarea {
  min-height: 150px;
  margin-bottom: 5px; 
}
section#contact .button {
  float: right;
  margin: 5px 0 0 0;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  background: transparent;
  outline: 0; 
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  #contact {
    line-height: 18pt;
    padding: 100px 0 130px 0;
  }

  section#contact form {
    min-width: 500px; 
  }
}